a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}


html{
	font-size: 62.5%;
	
}

body{ 
    margin:0;
    color:black;

}


.wrapper{
    width: 85%;
    margin:0 auto;
    padding:0;
    max-width: 1280px;

}


img{
    max-width: 100%;
    padding:0;
    margin:0;
}

h1,
h2,
h3,
h4,
button{
    text-transform: uppercase;
    font-family: 'Emblema One', cursive;
    color:#1D81CC;
    padding:0;
    margin:0;
}

button{
    padding:10px;
    color:#042259;
    font-size: 2rem;
    line-height: 29px;
    text-align: center;
    margin-top: 20px;
    border:none;
    background-color:#F5C8CF;
}

button:hover,
button:focus{
    color:#ffffff;
    background-color:#042259;
}


p,
a{
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    line-height: 29px;
    letter-spacing: 0.2px;
    
}


h1{
    
    font-size: 10.46rem;
    line-height: 87.3px;

}

h2{
    font-size: 4.2rem;
    text-align: left;

}

h3{
    font-size: 3.2rem;
    text-align: center;

}

h4{
    font-size: 2.5rem;
    
}

a{
    text-decoration: none;
    color:#1F2022;
    
}


img{
    width: 100%;
    display:block;
}


.socialMedia a:hover,
.socialMedia a:focus,
.menu-right h4:hover,
.menu-right h4:focus{
    color:#042259;
}




/* header styles */



.header{
    background-image: linear-gradient(to right, #F5C8CF, #FCDDE2);
    height:750px;
    width: 100vw;
    position:relative;
}


.appliances{
    position:absolute;
    right:0;
    bottom:0;
    
}
.appliances img{
    width: 50vw;

}

ul{
    list-style-type: none;
    margin:0;
    padding:10px 0;
    text-transform: uppercase;
    float: right;
    
}

li{
    float:left;
    text-align: right;
    padding-left:30px;

}

#hamburger{
    display:none;
}
 
.nav a:hover,
.nav a:focus{
    border-bottom:1px solid #1F2022;

}


.header p{
    font-size: 3.5rem;
    padding-top: 10px;
}


.socialMedia{
    float:right;
    position:absolute;
    right:30px;
    top:130px;
    z-index: 999;
}

.socialMedia a{
    display:block;
    padding:7px 0;
    color:#1D81CC;
    font-size: 25px;

}


.title{
    width: 50%;
    position:absolute;
    top:25%;
    clear:both;

}


/* section-one */

.section-one{
    background-color:#FCDDE2;
    padding:60px 0;
}

.section-one h2{
    text-align: center;
}

.gallery{
    margin:30px 0;
    width: 100%;
}

.box{
    float:left;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;  
}

.item3{
    margin-right:0;
}

.mokaBox{
    width: 100%;
    margin:80px 0 40px 0;

}

.mokaImage{
    float:left;
    margin-right:40px;
    width: 25%;

}

.mokaTexbox{
    float:left;
    width: 75%;
}

.mokaTextbox h2{
    text-align: left;
    margin-bottom:20px;

}


/* section-two */

.section-two{
    background-color:#F0F5FF ;
}

.top,
.bottom{
    width: 100%;
}

.text{
    width: 50%;
    padding:7% 6% 7% 7%;
    float:left;
    height:70vh;
}

.text h2{
    width: 90%;
    margin-bottom: 20px;
}


/* smoothies  */


.smoothiesImage{
    float:left;
    width: 50%;
}



/* kitchen */

.kitchenImage{
    float:left;
    width:50%;
}


.bottom .text {
    padding:7% 7% 7% 6%;
}

/* section-three */



.section-three{
    clear:both;
    background-color:#FCDDE2;
}

.section-three .wrapper{
    width: 100%;
    margin:0 auto;

}


.bar{
    float:left;
    width: 100%;
    margin: 60px auto;
    padding:0 100px;
    
}

.bar li{
    text-align: center;
    padding:20px 0;
    display: inline-block;
    width: 33.3333%;
    
}

.bar i{
    color:#042259;
    font-size: 4rem;
    padding:15px;
}

.bar i:hover,
.bar i:focus{
    color:#1D81CC

}

/* footer */

footer{
    background-color: #F0F5FF;
}


.stay-updated,
.contact,
.menu-right{
    margin:80px 0 80px 8%;
    padding:0;
    
}

.stay-updated{
    width: 50%;
    text-align: left;
    float:left;
    margin-left:0;
    
}


footer h4{
    margin-bottom:10px;

}


.email{
    width: 100%;
    margin-top: 20px;
}

.email input{
    width: 75%;
    height:50px;
    font-size: 2rem;
    border:1px solid #FCDDE2; 
    margin:0;
    float:left;
    padding: 10px;
}


.subscribe{
    margin:0;
    float:left;
}



.contact{
    width: 22%;
    float:left;
}


.menu-right{
    float:left;
    width: 12%;
    margin-right: 0;
    
}

.menu-right ul{
    float: none;
    padding:0;
}

.menu-right ul li{
    float:none;
    padding:0;
    margin:0;

}

.menu-right h4{
    text-align: right;
}

.copyright{
    clear:both;
    width:100%;
    text-align: center;
    padding:15px;
    background-color: #042259;
    color:#FFFFFF;
}



/* ----media queries------- */


@media (max-width: 1350px){
    .wrapper{
        width: 95%;
    }


    .mokaImage{
        width: 30%;
    
    }
    
    .mokaTexbox{
        width: 70%;
    }

    .text{
    padding:5% 3% 4% 3%;

    }

    .text h2{
        width: 80%;
    }

    .bottom .text {
        padding:5% 3% 4% 3%;
    }

    .stay-updated{
        text-align: center;
    }

    .email input {
        width: 100%;
    }

    .subscribe{
        width: 100%;
    }


}

@media (max-width: 1170px){
    
    
    .mokaImage{
        width: 50%;
    
    }
    
    .mokaTexbox{
        width: 50%;
    }

    .text h2{
        width: 90%;
    }


    /* footer     */

    footer .wrapper{
        width: 70%;
        padding:40px 0;
    }
    
    .stay-updated{
        width: 100%;
        float:none;
        margin:0;
        padding:30px 0;
    }
    
    .email input {
        width: 75%;
    }

    .subscribe{
        width: 25%;
    }
    
    .contact,
    .menu-right{
        width:50%;
        margin:0;
        padding:60px;
    }

    .contact{
        padding-left:0;
        padding-bottom: 0;
    }

    .menu-right{
        padding-right: 0;
        padding-bottom: 0;
    }
}


@media (max-width: 1024px){

    .mokaBox {
        width: 95%;
        margin: 0 auto;
    }

    .mokaImage{
        width: 100%;
        float:none;
        margin: 0 auto;
    }
    
    .mokaTexbox{
        width: 100%;
        float:none;
        position:relative;
    }

    .mokaTextbox h2{
        text-align: center;
        margin:20px 0;
    }

    .mokaTextbox p{
        margin:20px 0;
    }


        /* section-two */
        
    .section-two{
        background-color: #FCDDE2;
    }

    .top .text{
        margin-bottom: 70px;
    }

    .bottom{
        padding-bottom: 70px;
    }    

    .text{
        width: 95%;
        margin: 0 auto;
        float:none;
        height:auto;
        position:relative;

    }

    .text h2{
        width: 100%;
        text-align: center;
    }

    .readMore{
            position:absolute;
            right:45%;
            color:#FFFFFF;
            background-color: #042259;
        }
    


    /* smoothies  */

    .smoothiesImage{
        width: 100%;       
    }

    /* kitchen */

    .kitchenImage{
        float:none;
        width:100%;
    }

    /* section-three */

    .section-three{
        background-color: #F5C8CF;
    }
}



@media (max-width: 768px){

    .header .title{
    width: 60%;
    }

    .header h1{
    font-size:8rem;
    line-height: 70px;
    }

    .header p{
        font-size: 3rem;
    }


    footer .wrapper{
    width: 90%;
    padding:40px 0;
    }

}


@media (max-width: 580px){

    .wrapper{
        width: 90%;
    }


    .section-one,
    .section-two {
    padding-bottom: 100px;
    }


    h2{
    font-size: 3.8rem;
    padding:20px;
    }

    .header{
    height: 850px;
    }

    .title{
    width: 100%;
    position: absolute;
    top: 160px;
    }    

    .appliances img {
    width: 75vw;
    }


    .nav,
    .socialMedia{
    display:none;
    }

    #hamburger{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 3.5rem;
    width: 100%;
    text-align: right;

    }

    .box {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    }

    .readMore {
    right: 40%;
    }


    .bar {
    float: none;
    width: 100%;
    margin: 0 auto;
    }

    .bar li {
        width: 100%;
    }

    .email input{
    width: 90%;
    float:none;
    margin-bottom: 10px;
    }

    .subscribe{
    float:none;
    width:60%;
    }

    .contact,
    .menu-right{
    padding-top: 30px;
    }
}


@media (max-width: 450px){

    .header{
    height: 750px;
    }

    .title{
    top: 130px;
    }    

    .title h1{
        font-size: 6.8rem;
        line-height: 70px;
    }

    .title p{
        font-size: 2.5rem;
        padding-top:0;
    }

    .appliances img {
        width: 80vw;
    }

    .readMore {
    right: 35%;
    }

    .top .text {
    margin-bottom: 130px;
    }

    .section-one,
    .section-two {
    padding-bottom: 70px;
    }

    .contact, 
    .menu-right {
    padding: 30px;
    }

    .menu-right{
    padding-right: 0;
    }

    .contact{
    padding-left: 0;
    }

    h4 {
        font-size: 2rem;
    }

    #hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    }

    .header .title{
        width:100%;
    }

    .title h1 {
        font-size: 5.5rem;
        line-height: 50px;
    }

    .title p {
    font-size: 2rem;
    }
}

@media (max-width: 320px) {
    
    .readMore {
        right: 30%;
    }
}
